*

!ChatNode
!Domain

**/bin
**/obj
**/[Dd]ebug
**/[Rr]elease
**/publish
**/packages
**/node_modules
**/wwwroot

**/.vs
**/.idea
**/.vscode
**/_ReSharper*
**/*.user
**/*.suo
**/*.DotSettings.user
**/*.log
**/*.tmp
**/*.orig
**/*.pdb
**/*.swp
**/Thumbs.db
**/.DS_Store
**/.env
